html{
	height: 100%;
	width: 100%;
}

h1{
	font-size: 5vh;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h2{
	font-size: 3vh;
	font-family: 'Roboto', sans-serif;
	text-decoration-line: underline;
}

p{
	font-size: 2vh;
	font-family: 'Lato', sans-serif;
}