h1 {
    font-size: 15vw;
    font-family: 'Roboto', sans-serif;
    color: #d53a31;
}

#button {
    height: 200px;
    width: 44%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    border-radius: 15px;
    border-color: #d53a31;
    border-width: 13px;
    background-color: white;
    border-style: solid;
}

.text {
	font-size: 5vw;
	font-family: 'Lato', sans-serif;
}

.logo {
	height: 95%;
	width: 95%;
}


